@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    background-color: #152733;
    position: sticky;
    top: 0;
    width: auto;
    z-index: 1000;
}

.navbar-nav {
    margin-left: auto;
}


#nav-title {
    background-image: linear-gradient(45deg, #78afa9, rgba(111, 33, 206, 0.4));
    border-radius: 10px;
    padding: 3px 5px;
    font-size: 1.5em;

}


.user-page-title, #register-page-title, #login-page-title {
    text-align: center;
}

.form-holder {
    background-color: #152733;
    padding: 1em 2em;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

#register-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.email-label {
    padding: 0 2em 0 0;
}

.posts-page-title, .user-page-title {
    font-size: 4em;
}

.post-title {
    font-size: 2em;
}

.post-createdDate {
    font-size: .70em;
}

.user-info-box {
    height: auto;
}

.user-info-inner-box {
    border: 1px solid black;
    padding: 1em;
}

@media (min-width: 768px) {
    .new-post-form {
        top: 12em;
        right: 2em;
        position: fixed;
    }
}